<!DOCTYPE html>
<html>
    <head>
<title></title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>






<style scoped>
    .message {
      background: #e7e7e7;
      border-radius: 10px;
      padding: 1rem;
      width: fit-content;
      margin-top: 8px;
    }
    
    .message.dark {
      background: #e9eaf6;
    }
    
    h5 {
      margin: 0 0 .5rem 0;
    }
    </style>



<body>
    <div id="vu">
        <message v-for="str in messages" :key="str" :text="str.text" :author="str.sender_id" :sent="str.created_at"> [[str]] </message>
    </div>





    <script>
       let vu = Vue.createApp({
            
            data: function() {
                return{
                messages: null,
                ali: '245'
            }
                
            },
            methods: {
                getMessages() {
                     return axios
                        .get("/messages", {
                            responseType: "json",
                        })
                        .then(response => {
                            this.messages = response.data
                            console.log(this.messages)
                        });
                }
            },
            mounted(){
              this.getMessages();
            },
            delimiters: ['[[',']]']
        })


        vu.component('Message',{
        template: `
        <div
        :class='["message", { dark }]'
    >
      <h5>[[author]] </h5>
     [[text]] <br> 
     <h6> [[sent]] </h6>
    </div>
        `,
  props: [
    'text', // Content of the message
    'author', // Author of the message
    'sent',
    'dark' // Background variant of the box
  ],
  delimiters: ['[[',']]']


    })


        vu.mount('#vu')

</script>